.Contact {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-self: center;

  }

  a {
    color: var(--primary);
  }

  #name {
    font-weight: bold;
    letter-spacing: 1.5px;
    padding-top: 1rem;
    font-size: large;
    color: var(--primary);
  }

  .static {
    position:absolute;
    background: white;
  }

  .static:hover {
    opacity:0;
  }

}