.Footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  // background-color: #95bca7;

  img {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  p {
    color: rgb(145, 148, 147);
    padding-top: 0.5rem;
    font-size: small;
  }

}