.ProjectCard {

  margin-top: 1rem;
  margin-bottom: 1rem;

  &__buttons_block {
    display: flex;
    justify-content: space-around;
  }

  &:hover {
    box-shadow: 0 4px 4px 0 rgba(78, 78, 78, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.4s ease-in-out;
  }

  .Code_languages {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

}

.card {
  max-width: 40rem;
}

